<div class = "row">
  <div class="col-md-6 help" >
    <h1>
      About
    </h1>

    <p>
      This app was built in Jun 2018 as a learning experience in building
      a functional rails app with API integration.  The source code for the
      application can be found <a href="url">here</a>. Big thanks to ahmetabdi for his
      wonderful <a href "https://github.com/ahmetabdi/themoviedb">theMovieDb rails API</a>
      and theMovieDB for collecting and making this data
      accessible.
    </p>

    <h1>
      Author
    </h1>

    <p>
      My name is Mike Kosk and I'm based in San Francisco and graduated Princeton in 2016
      with a degree in Philosophy and CS.
      My primary experience has been in data and consulting, but I'm actively
      improved my technical abilities to further move up the development pipeline.
    </p>


  </div>
</div>
