<div class="center jumbotron">
  <h1>Text 2 Spotify</h1>

  <h2>
    Add songs to your spotify playlist using SMS! 
  </h2>

  <%= link_to "Connect with Spotify now!", '/auth/spotify', class: "btn btn-lg btn-primary" %>
</div>
