<div class="center col-md-6">
  <h1>Text to Spotify</h1>

  <h2>
    Send texts with a song to add them to your Spotify Playlist.
  </h2>

  <%= link_to "Connect with Spotify now!", '/auth/spotify',
      class: "btn btn-lg btn-primary" %>

</div>
