<section class="header">
  <div class="header_class">
    <div class="container">
    <div class="col-md-6 home-left">
      <h1>Text 2 <br> Spotify</h1>

      <h2>
        Add songs to a Spotify Playlist via text message!
      </h2>

      <%= link_to " Connect with Spotify now!", '/auth/spotify',
          class: "btn btn-lg btn-success" %>

    </div>
    <div class="col-md-4 ">

         <iframe frameborder="0" height="355" scrolling="no"
         src="http://www.youtube.com/embed/GWwsd5APlgw" width="480">​


    </div>
  </div>

  </div>
</section>
