<section class="header">
  <div class="header_class">
    <div class="container">
    <div class="col-md-6 home-left">
      <h1>Text 2 <br> Spotify</h1>

      <h2>
        Add songs to a Spotify Playlist via text message!
      </h2>

      <%= link_to " Connect with Spotify now!", '/auth/spotify',
          class: "btn btn-lg btn-success" %>

    </div>
    <div class="col-md-5 ">
      <div id="video">
        <iframe width="640" height="450" src="http://www.youtube.com/embed/t5giA9-OyUY">
          <html lang="en" dir="ltr">
         </iframe>
      </div>

    </div>
  </div>

  </div>
</section>
