<section class="header">
  <div class="header_class">
    <div class="container">
    <div class="col-md-6 home-left">
      <h1>Text 2 <br> Spotify</h1>

      <h2>
        Add songs to a Spotify Playlist via text message!
      </h2>

      <%= link_to " Connect with Spotify now!", '/auth/spotify',
          class: "btn btn-lg btn-success" %>

    </div>
    <div class="col-md-4 ">

      <div class="video-container">

          <iframe width="560" height="315" src="https://www.youtube.com/embed/t5giA9-OyUY" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>

      </div>


    </div>
  </div>

  </div>
</section>
