<% provide(:title, @user.email) %>
<% spotify_user = RSpotify::User.new(session[:hash]) %>

<h1>
  <%= session[:hash]['display_name'] %>
</h1>

<% provide(:title, @user.email) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= session[:hash]['display_name'] %>
        <%= @user.email %>
      </h1>
      <% spotify_user.playlists.each do |k| %>
        <li><%= "#{k.name}" %></li>
      <% end %>
    </section>
  </aside>
</div>
